<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/styles.css" />
    <link href="~/lib/boostrapicon/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/BlogApp.styles.css" asp-append-version="true" />

  
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Post" asp-action="Index">
                    <i class="bi bi-code m-1"></i> BlogApp
                </a>

                <a class="navbar-brand" asp-area="" asp-controller="Post" asp-action="Course">
                    <i class="bi bi-bag-check m-1"></i>Tüm Kurslar
                </a>
                
                <ul class="navbar-nav ms-auto">
                    @if (User.Identity!.IsAuthenticated)
                    {
                        <li class="nav-item m-2">
                            <a asp-controller="Post" asp-action="List" class="nav-link">
                                <h6>Kurslarım</h6>
                            </a>
                        </li> 
                        <li class="nav-item m-2">
                            <a class="nav-link">
                                <h6>Hoşgeldiniz @User.Identity.Name</h6>
                            </a>
                        </li> 


                        <li class="nav-item m-2">
                            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Logout">
                                <h6>Logout</h6>
                            </a>
                        </li>

                       
                    }
                    else
                    {
                        <li class="nav-item m-2">
                            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Login">
                                <h6>Login</h6>
                            </a>
                        </li>

                        <li class="nav-item m-2">
                            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Register">
                                <h6>Register</h6>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            @RenderSection("Script", required: false)
        </main>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
